@font-face {
  font-family: "Gotham";
  src: url("Gotham-Book.eot");
  src: local("Gotham Book"), local("Gotham-Book"),
    url("Gotham-Book.eot?#iefix") format("embedded-opentype"),
    url("Gotham-Book.woff2") format("woff2"),
    url("Gotham-Book.woff") format("woff"),
    url("Gotham-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("Gotham-Medium.eot");
  src: local("Gotham Medium"), local("Gotham-Medium"),
    url("Gotham-Medium.eot?#iefix") format("embedded-opentype"),
    url("Gotham-Medium.woff2") format("woff2"),
    url("Gotham-Medium.woff") format("woff"),
    url("Gotham-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
