.proHeader {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.proHeader img {
  float: left;
  margin-right: 3px;
  position: relative;
  top: 2px;
}
.proSubheader {
  font-size: 16px;
  line-height: 24px;
}
.pro__sub {
  margin-top: 16px;
}
@media screen and (max-width: 1919px) {
  .proHeader {
    font-size: 28px;
  }
  .proHeader img {
    height: 30px;
    top: 5px;
  }
  .pro__sub {
    margin-top: 8px;
  }
}
@media screen and (max-width: 1439px) {
  .proHeader {
    font-size: 26px;
    line-height: 36px;
  }
  .proHeader img {
    top: 3px;
  }
}

@media screen and (max-width: 1023px) {
  .proHeader {
    font-size: 24px;
    letter-spacing: 2.2px;
  }
  .proSubheader {
    font-size: 14px;
  }
  .proHeader img {
    height: 22px;
    top: 5.5px;
  }
}

@media screen and (max-width: 767px) {
  .proHeader {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 1.6px;
  }
  .proHeader img {
    top: 1px;
  }
  .pro__sub {
    margin-top: 3px;
  }
}
